<div id="page-wrapper">
  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <h2>All users</h2>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>View</th>
                <th>Edit</th>
                <th>Remove</th>
              </tr>
            </thead>

            <tbody>
              <% for(let k of data) { %>
              <tr>
                <td><%=k.name%></td>
                <td><a href="/admin/singleUser/<%=k._id%>">View</a></td>
                <td><a href="/admin/editUser/<%=k._id%>">Edit</a></td>
                <td><a href="/admin/removeUser/<%=k._id%>">Remove</a></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /. ROW  -->

      <hr />
    </div>
    <!-- /. PAGE INNER  -->
  </div>
  <!-- /. PAGE WRAPPER  -->
</div>
